1) What are data structures, and why are they important?

Answer:

Data structures are techniques or methods that are used to store and organize data efficiently. They are important because they:
1.	Enable efficient data storage
2.	Allow fast retrieval and manipulation of data

2) Explain the difference between mutable and immutable data types with examples.

Answer:

Mutable data types are the data types that can be changed after they are created, while immutable data types cannot be modified once created.
Examples:
•	Mutable: list, dict, set
•	Immutable: int, float, str, tuple

3) What are the main differences between lists and tuples in Python?

Answer:

•	Lists are mutable i.e, we can modify, add, or remove elements.

•	Tuples are immutable i.e, their contents cannot be changed after creation.

•	Lists use square brackets [ ], while tuples use parentheses ( ).

4) Describe how dictionaries store data.

Answer:

Dictionaries store data in key-value pairs. Each key is unique and maps to a specific value,which allows fast access and efficient retrieval of data using the key.The key should be unique to get proper results.
Example: {"name": "Alice", "age": 25}

5) Why might you use a set instead of a list in Python?

Answer:

We would use a set when you want to store only unique elements, since sets automatically remove duplicates.
Example: set([1, 2, 2, 3]) → {1, 2, 3}

6) What is a string in Python, and how is it different from a list?

Answer:

A string is a sequence of characters enclosed within single, double, or triple quotes. Unlike lists, strings are immutable, meaning their content cannot be changed after creation.

7) How do tuples ensure data integrity in Python?

Answer:

Tuples ensure data integrity by being immutable. Once a tuple is created, its data cannot be modified, thus it is ideal for storing fixed data that shouldn’t changed.

8. What is a hash table, and how does it relate to dictionaries in Python?

Answer:

A hash table is a data structure that maps keys to values using a hash function to compute an index into an array of buckets. In Python, dictionaries are implemented using hash tables, allowing fast lookup, insertion, and deletion operations using keys.

9. Can lists contain different data types in Python?

Answer:

Yes, lists in Python can contain elements of different data types.
Example: L = [1, 3, "Subha", (1, 2, 3), [1, 4, 5]]

10. Explain why strings are immutable in Python.

Answer:

Strings are immutable in Python because once a string is created, its contents cannot be changed. Any operation that modifies a string actually creates a new string object, ensuring consistency and safety in memory handling.

11. What advantages do dictionaries offer over lists for certain tasks?

Answer:

Dictionaries provide:
•	Faster data retrieval using keys (O(1) time complexity on average)

•	Clear associations between keys and values

•	More organized data representation for real-world entities like users or products
Unlike lists, you don't need to search by index but can directly access data via a meaningful key.

12. Describe a scenario where using a tuple would be preferable over a list.

Answer:

Tuples are preferred over list when we want to store fixed data that should not be changed, thus ensuring data integrity.
Example: Storing geographic coordinates like (latitude, longitude) or days of the week, which remain constant.

13. How do sets handle duplicate values in Python?

Answer:

Sets automatically remove duplicate values. When duplicate elements are added, only one instance is retained.
Example: set([1, 2, 2, 3]) results in {1, 2, 3}

14. How does the in keyword work differently for lists and dictionaries?

Answer:

•	In lists, in checks whether a value exists in the list.
•	In dictionaries, in checks whether a key exists, not a value.
Example:

15. Can you modify the elements of a tuple? Explain why or why not.

Answer:

No, we cannot modify the elements of a tuple because tuples are
immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed. Unlike lists, which are mutable, tuples do not allow modification at specific indices.

16. What is a nested dictionary, and give an example of its use case.

Answer:

A nested dictionary is a dictionary that contains another dictionary as
a value. It's useful for representing hierarchical or structured data.
Example:
student = {
    "name": "John",
    "grades": {
        "math": 90,
        "science": 85
    }
}
In this example, the grades key holds another dictionary containing subject-grade pairs.


17. Describe the time complexity of accessing elements in a dictionary.

Answer:

The average time complexity for accessing elements in a dictionary is O(1), due to the underlying hash table implementation. However, in rare cases of hash collisions, it can degrade to O(n).

18. In what situations are lists preferred over dictionaries?

Answer:

Lists are preferred when the order of elements matters, and when data is accessed by position (index) rather than by key. They're ideal for storing collections of similar items, like a list of numbers, strings, or objects.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer:

Dictionaries are considered unordered because the datas in a dictionary are stored in the key-value pair and not on the based of position/ indices. It affects the retrieval as unlike in some other data structures like the list, tuple the data of a dictionary is retrieved using its key and not its position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Answer:
In a list, elements are retrieved using integer indices (e.g., list[0]), and the order of elements matters. In contrast, a dictionary retrieves values using keys (e.g., dict["key"]), and keys must be unique and hashable. This makes dictionaries more suitable for key-value pair storage and fast lookups by key.

In [1]:
# 1.Write a code to create a string with your name and print itP
name= "Subhabrata Mukherjee "
print(name)

Subhabrata Mukherjee

In [2]:
# 2. Write a code to find the length of the string "Hello World"
str1= "Hello World"
length = len(str1)
print(length)

11

In [4]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
str1= "Python Programming"
wanted_string= str1[0:3]
print(wanted_string)

Pyt

In [6]:
# 4.  Write a code to convert the string "hello" to uppercase
word= "hello"
word_in_uppercase = word.upper()
print(word_in_uppercase)

HELLO

In [7]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
ori= "I like apple"
new_w= ori.replace("apple", "orange")
print(new_w)

I like orange

In [8]:
# 6. Write a code to create a list with numbers 1 to 5 and print itP
l1= [1,2,3,4,5]
print(l1)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
l1= [1, 2, 3, 4]
l1.append(10)
print(l1)

[1, 2, 3, 4, 10]

In [13]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l1 = [1, 2, 3, 4, 5]
l2 = l1.copy()
l2.remove(3)
print(l2)

[1, 2, 4, 5]

In [11]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l1 = ['a', 'b', 'c', 'd']
print(l1[-2])

c

In [12]:
# 10. P Write a code to reverse the list [10, 20, 30, 40, 50].
l1= [10, 20, 30, 40, 50]
l2= l1[::-1]
print(l2)

[50, 40, 30, 20, 10]

In [1]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it
tup= (100, 200, 300)
print(tup)

(100, 200, 300)

In [2]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup1= ('red', 'green', 'blue', 'yellow')
print(tup1[-2])

blue

In [4]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup1= (10, 20, 5, 15)
mini= min(tup1)
print(mini)

5

In [6]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup1 = ('dog', 'cat', 'rabbit')
cat_index = tup1.index('cat')
print(cat_index)

1

In [8]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "kiwi", "mango")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is in the tuple

In [9]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

{'b', 'a', 'c'}

In [10]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [11]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [12]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [13]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [14]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [15]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [16]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [17]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [18]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key exists")
else:
    print("Key does not exist")

Key exists

In [19]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'name': 'Tom', 'age': 28}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'Tom', 'age': 28}

In [20]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[18, 25, 52, 55, 56]

In [21]:
# 28. Print element at third index in list of strings:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

In [22]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [23]:
# 30. Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple"]
my_set = set(my_list)
print(my_set)

{'banana', 'cherry', 'apple'}